{% extends "base.html" %}
{% block title %}Вход — SkillMarkets{% endblock %}
{% block content %}
<div class="card">
    <h2>Вход в аккаунт</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}
            {{ form.email(placeholder="your@email.com") }}
        </p>
        <p>
            {{ form.password.label }}
            {{ form.password(placeholder="••••••••") }}
        </p>
        <p>
            <button type="submit" class="btn">Войти</button>
        </p>
    </form>
    <p style="margin-top: 20px;">
        Нет аккаунта? <a href="{{ url_for('auth.register') }}" class="btn btn-outline" style="padding:6px 12px;">Регистрация</a>
    </p>
</div>
{% endblock %}